body {
  color: #184a45ff;
  background-color: #b0b8b4ff;
  font-size: large;
}
div {
  color: #184a45ff;
  background-color: #fc766aff;
}
h2 {
  color: #184a45ff;
}
h3 {
  color: #fc766aff;
  background-color: #184a45ff;
}
